<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MongoDB {% if title is defined %} - {{ title }}{% endif %}</title>

	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
	<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css">
	{% block css %}{% endblock %}

	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	{% block scripts %}{% endblock %}
</head>
<body>

	{% include 'template/navbar.twig' %}

	<div class="container">
		{% block content %}{% endblock %}
	</div>

</body>
</html>
