{% extends "template/layout.twig" %}

{% set title = 'Accueil' %}

{% block content %}
    {% if success %}
		<div class="alert alert-success mt-3" role="alert">
            {{ success[0].msg }}
		</div>
    {% endif %}

    <div class="card mt-3">
		<h4 class="card-header">
			Accueil
		</h4>
		<div class="card-body">
			<p class="card-text">
				Bienvenue sur MongoDB !
			</p>
			<p class="card-text">
				Ce site enregistre les points d'intérêts de Nancy et les restitue sur une carte afin de les visualiser. En créant un compte vous pouvez créer vos propres événements à l'adresse de votre choix. Celui-ci sera ensuite visible sur la carte avec les points d'intérêts de la ville. Les autres utilisateurs peuvent, s'ils le souhaitent, commenter votre événement afin de vous faire part de leurs impressions.
			</p>
		</div>
	</div>
{% endblock %}