{% extends "template/layout.twig" %}

{% set title = 'Carte' %}

{% block scripts %}
	<script src="/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="/public/js/app.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/node_modules/leaflet/dist/leaflet.css">
{% endblock %}

{% block content %}
    <div class="card mt-3">
		<h4 class="card-header">
			<i class="user icon"></i>Carte
		</h4>
		<div class="card-body">
			<p class="card-text">Grâce à cette carte, vous pouvez voir les différents points d'intérêts de votre ville.</p>
			<div id="map"></div>
		</div>
	</div>
{% endblock %}