{% extends "template/layout.twig" %}

{% set title = 'Carte' %}

{% block scripts %}
	<script src="/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="/public/js/app.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/node_modules/leaflet/dist/leaflet.css">
{% endblock %}

{% block content %}
    <div class="card mt-3">
		<h4 class="card-header">
			<i class="user icon"></i>Carte
		</h4>
		<div class="card-body">
			<p class="card-text">Grâce à cette carte, vous pouvez voir les différents points d'intérêts de votre ville.</p>
			<div id="map"></div>
			<hr />
			<h4>Légende :</h4>
			<ul>
				<li><img src="/public/img/parking.png" alt="Parking voitures"> : Parking voitures</li>
				<li><img src="/public/img/parking_event.png" alt="Parking voitures event"> : Parking voitures évenement</li>
				<li><img src="/public/img/location.png" alt="VeloStan"> : VeloStan</li>
				<li><img src="/public/img/location_event.png" alt="VeloStan events"> : VeloStan évenement</li>
			</ul>
		</div>
	</div>
{% endblock %}
